<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<% @tesla = Tesla.find(params[:id]) %>


    <img src="<%= @tesla.image_url %>" alt="<%= @tesla.model %>">
    <h1><%= @tesla.model %></h1>
    <p><%= @tesla.description %></p>
    <p><%= @tesla.price %></p>
    <p>In Stock: <%= @tesla.instock %> </p>

    
</body>
</html>